* {
    margin: 0px;
    padding: 0px;
}

br {
    line-height: 1;
}


#wrapper {
    margin: 0 auto;
    padding: 15px 15px 0;
}

a {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

body {
    background: linear-gradient(-45deg, #009200, #8cc63f);
    
}

div {
    display: block;
}

/* header */
header {
    background: #FFF;
    width: calc(100% - 30px);
    margin: 0 auto;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9999;
}

header h1 {
    width: 40%;
    padding: 40px 0px 20px 30px;
    float: left;
}

header nav ul li a {
    font-size: 12px;
    color: #606a72;
    display: block;
    padding: 50px 0 20px;
}

header nav {
    padding: 40px 0 0;
}

header nav ul li{
    float: left;
    width: 12%;
    text-align: center;
}

li {
    list-style: none;
    display: list-item;
}

ul {
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.nav01 {
    background: url(../images/nav01_pc_off.svg) no-repeat top center;
    background-size: 50px 42px;
}

.nav01:hover {
    background: url(../images/nav01_pc_on.svg) no-repeat top center;
    background-size: 50px 42px;
}

.nav02 {
    background: url(../images/nav02_pc_off.svg) no-repeat top center;
    background-size: 50px 42px;
}

.nav02:hover {
    background: url(../images/nav02_pc_on.svg) no-repeat top center;
    background-size: 50px 42px;
}

.nav03 {
    background: url(../images/nav03_pc_off.svg) no-repeat top center;
    background-size: 50px 42px;
}

.nav03:hover {
    background: url(../images/nav03_pc_on.svg) no-repeat top center;
    background-size: 50px 42px;
}

.nav04 {
    background: url(../images/nav04_pc_off.svg) no-repeat top center;
    background-size: 50px 42px;
}

.nav04:hover {
    background: url(../images/nav04_pc_on.svg) no-repeat top center;
    background-size: 50px 42px;
}

.clearfix:after {
    content: '';
    display: table;
    clear:both;
}

/* Slider   */
.top-wrapper {
    /* width: calc(100% - 30px); */
    margin: 130px auto 0;
}

.swiper-button-prev,
.swiper-button-next {
	width: 48px; /* ボタンの幅 */
	height: 48px; /* ボタンの高さ */
	background-size: 48px 48px; /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
	margin-top: -24px; /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}

.swiper-button-prev {
    left: 0;
    background: transparent url(../images/icon_prev.svg) no-repeat left top;
    transition: all 0.2s ease;
}

.swiper-button-next {
    right: 0;
    /* background: transparent url(../images/icon_next.svg) no-repeat right top; */
    background-image: url("../images/icon_next.svg");
    transition: all 0.2s ease;
}

.swiper-button-prev:after,
.swiper-button-next:after {
 font-family: none;
 font-size: var(--swiper-navigation-size);
 text-transform: none !important;
 letter-spacing: 0;
 text-transform: none;
 font-variant: initial;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
 content: "";
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
 content: "";
}



/* .swiper-wrapper {
    width: 30%;
} */
.slider2 {
    /* width: 50%; */
    height: auto;
}

/* Section1 */
.service-wrapper {
    margin-top: -3px;
    width: 100%;
    display: flex;
    height: 352px;
    align-items: center;
}
  
.flex-1 { 
    display: flex;
    width: 34%;
    justify-content: center;
    align-items: center;
}
.flex-2 { 
    width: 66% ;
    display:flex;
}

.service-wrapper .flex-1 {
    text-align: center;
    font-size: 14px;
    color:#FFF;
    vertical-align: middle;
    height:100%;
}

.list1, .list2, .list3, .list4 {
    position: relative;
    overflow: hidden;
}

.description a{
    height: 100%;
    display: block;
    color: #FFF;
}

.description {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    transform: translateY(250%);
}

.overlay {
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
    transition:		all 0.2s ease;
}

.list1:hover .overlay {
    opacity: 1;
}

.list2:hover .overlay {
    opacity: 1;
}

.list3:hover .overlay {
    opacity: 1;
}

.list4:hover .overlay {
    opacity: 1;
}

/* Section2 */

.news-wrapper {
    /* width:100%; */
    padding:90px 30px;
    background-color: #FFF;
    
}

.news-wrapper .title {
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.news-wrapper h2 {
    border-bottom: 3px solid #606a72;
    color:#606a72;
}

.btn a{
    width: 160px;
    float: right;
    line-height: 42px;
    text-align: center;
    display: block;
    background: #606a72;
    color: #FFF;
    border-radius: 5px;
    font-size: 13px;
}

.blog-item {
    display: flex;
}

.newslist ul li {
    padding: 20px 0;
    border-bottom: 1px dotted #606a72;
}

.category-icon {
    margin: 0 30px 0 20px;
    width: 80px;
    text-align: center;
    color: #FFF;
    border-radius: 2px;
    background: #b7c63f;
    font-size:12px;
    display: inline-block;
    line-height: 28px;
}

/* Section３ */
.case-wrapper {
    /* width:100%; */
    padding:100px 30px;
    background-color: #FFF;
}

.case-wrapper h2 {
    border-bottom: 3px solid #606a72;
    color:#606a72;
}

.case-wrapper .title {
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.news-wrapper .title .btn a:hover,
.case-wrapper .title .btn a:hover{
  transition: 0.2s all ease;
  background: #444e54
}

.caselist li img {
    width: 450px;
    padding-bottom: 15px;
}

.caselist li {
    padding-bottom: 50px;
}

.caselist ul li li:first-child {
    color: #FFF;
    background: linear-gradient(-45deg, #009200, #8cc63f);
    margin-right:10px;
}

.caselist ul li ol li {
    width: auto;
    display: block;
    padding: 10px 20px !important;
    float: left;
}

.caselist ul li ol li:nth-child(2) {
    color: #606a72;
    background: #e6e6e6;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Footer */
footer {
    background-color: #FFF;
    text-align: center;
}

.footer-nav {
    display: flex;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;

}

footer ul li a {
    font-size: 12px;
    color: #606a72;
    background: url(../images/footer_icon.png) no-repeat left center;
    background-size: 5px;
    padding-left: 15px;
    margin-right:30px;
}

#pagetop {
    width: 45px;
    height:auto;
    /* position: absolute;
    bottom: 20px;
    right: 20px; */
}

#pagetop img {
    width: 100%;
    /* padding-right: 20px; */
}

.copyright {
    text-align: center;
    height: 30px;
    color: #FFF;
    font-size: 11px;
    background-color: #009200;
}

/* nav */
#post_nav {
    z-index: 9999;
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 60px;
}

#post_nav a {
    height: 202px;
    display:block;
    margin-bottom: 0;
}